<section class="appointment">
  <div class="container second">
    <div class="title-col">
      <div class="center">
        <img src="{{site.baseurl}}assets/logo.svg" alt="Man Cave Logo">
        <h2>Book an appointment</h2>
        <p>Walk-ins Welcome</p>
      </div>
    </div>
    <div class="form">
        <form>
          <input type="text" name="Full Name" placeholder="Full Name&#42;">
          <input type="text" name="E-mail" placeholder="E-mail&#42;">
          <input type="text" name="Phone Number" placeholder="Phone Number&#42;">
          <input id="message" type="text" name="Message" placeholder="Message">
          <input type="submit" value="Send Message">
        </form>
    </div>
  </div>
</section>
