<footer class="mobile">
  <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
  <p>&copy; 2017 ALL RIGHTS RESERVED THE MAN CAVE. </p>
  <p>DESIGN BY <a href="https://pizzapgh.github.io/pizza_writing/portfolio.html" target="_blank">CHRIS BRENNAN</a></p>
</footer>

<footer class="desktop">
  <p>&copy; 2017 ALL RIGHTS RESERVED THE MAN CAVE. DESIGN BY <a href="https://pizzapgh.github.io/pizza_writing/portfolio.html" target="_blank">CHRIS BRENNAN</a></p>
  <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
</footer>
