<header class="hero">
  <img class="logo" src="{{site.baseurl}}/assets/logo.svg" alt="Man Cave logo">
  <div class="contact">
      <div class="contact-info">
        <div class="center">
          <h3>Address</h3>
          <p>566 Lincoln Ave Bellevue, PA 15202</p>
        </div>
      </div>
      <div class="contact-info">
        <div class="center">
          <h3>Call Us</h3>
          <p class="bold">412-761-9883</p>
          <h3>For Booking</h3>
        </div>
      </div>
      <div class="contact-info">
        <div class="center">
          <h3>Hours</h3>
          <p>Mon &amp; Sun Closed</p>
          <p>Tues, Wed, Fri 9:30-5</p>
          <p>Thur 11-6 & Sat 9-3</p>
        </div>
      </div>
  </div>
</header>
