<header class="hero">
  <img class="logo" src="{{site.baseurl}}/assets/logo.svg" alt="Man Cave logo">
  <div class="contact">
      <div class="contact-info fourth">
        <div class="center">
          <img src="/assets/mustache.svg" alt="">
          <p>566 Lincoln Ave Bellevue, PA 15202</p>
        </div>
      </div>
      <div class="contact-info fourth border-left">
        <div class="center">
            <img src="/assets/phone.svg" alt="">
          <p class="bold">412-761-9883</p>
        </div>
      </div>
      <div class="contact-info fourth border-left">
        <div class="center">
            <img src="/assets/clock.svg" alt="">
          <p>Mon &amp; Sun Closed. Tues, Wed, Fri 9:30-5. Thur 11-6 & Sat 9-3</p>
        </div>
      </div>
  </div>
</header>
