<article class="service">
  <div class="store-pic" style="background-image: url({{site.baseurl}}/assets/desktop-store-pic.jpg)"></div>
  <div class="right-col">
    <div class="service-pricing center first">
          <h2>Services</h2>
      <div class="service-pricing-info">
        <p>Amry Cuts, Fades, Bold Fades</p><p class="price">$15</p>
      </div>
      <div class="service-pricing-info">
        <p>Bowl Cuts</p><p class="price">$10</p>
      </div>
      <div class="service-pricing-info">
        <p>Crew Cuts</p><p class="price">$15</p>
      </div>
      <div class="service-pricing-info">
        <p>Beard Cuts</p><p class="price">$10</p>
      </div>
      <div class="service-pricing-info">
        <p>Haircut &amp; Shave</p><p class="price">$10</p>
      </div>
    </div>
  </div>
</article>
